/* compact theme */
.x1a8lsjc.x1iji9kk.x1sln4lm.x889kno {
    padding: 5px !important;
    margin-top: 2px !important;
    margin-bottom: 2px !important;
}
/* remove left bar */
.x1247r65 {
    width: 0 !important;
    display: none !important;
}
/* compact context menu on contact */
.x1i10hfl.xjbqb8w.x6umtig.x1b1mbwd.xaqea5y.xav7gou.xe8uvvx.x1hl2dhg.xggy1nq.x1o1ewxj.x3x9cwd.x1e5q0jg.x13rtm0m.x87ps6o.x1lku1pv.x1a2a7pz.xjyslct.x9f619.x1ypdohk.x78zum5.x1q0g3np.x2lah0s.xnqzcj9.x1gh759c.xdj266r.xat24cr.x1344otq.x1de53dj.x1n2onr6.x16tdsg8.x1ja2u2z.x6s0dn4.x1y1aw1k.xwib8y2 {
/*div.xjyslct, a.x1i10hfl {*/ 
    padding: 2px !important;
    padding-right: 20px !important;
}
.x14nfmen.x1e56ztr.xktsk01.x1d52u69.x1xmf6yo/*hr.x14nfmen*/ {
    margin-top: 2px !important;
    margin-bottom: 2px !important;
}
.xx8ngbg {
    width: auto !important;
}

/* inhibit responsive design to allow for compact theme to thrive */
.x1cvmir6, .x12nzpgo.x12nzpgo {
    width: 315px !important;
}
@media (max-width: 900px) {
    .x1cvmir6, .x12nzpgo.x12nzpgo {
        width: 280px !important;
    }
}
.xzd29fr.xzd29fr {
    display: flex !important;
}
.x1lliihq.xqtp20y.x6ikm8r.x10wlt62.xnalus7 {
    width: auto !important;
    height: auto !important;
}
/* compact theme end */