/* compact theme */
.x1a8lsjc.x1iji9kk.x1sln4lm.x889kno {
    padding: 5px !important;
    margin-top: 2px !important;
    margin-bottom: 2px !important;
}
/* remove left bar */
[aria-label='Inbox switcher'] {
    width: 0 !important;
    display: none !important;
}
/* compact context menu on contact */
.x1n2onr6.xcxhlts.xi5betq[role='menu'] [role='menuitem'] {
    padding: 3px !important;
    padding-right: 20px !important;
}
.x1n2onr6.xcxhlts.xi5betq[role='menu'] {
    margin-top: 7px !important;
    margin-bottom: 7px !important;
}
.xx8ngbg {
    width: auto !important;
}
/* compact emoji context menu */
/*[aria-label='Messages reactions'][role='menu'] [role='menuitem'] {
    padding: 3px !important;
}
[aria-label='Messages reactions'][role='menu'] {
    padding: 3px !important;
    margin-left: 7px !important;
    margin-right: 7px !important;
}*/

/* inhibit responsive design to allow for compact theme to thrive */
.x1cvmir6, .x12nzpgo.x12nzpgo {
    width: 315px !important;
}
@media (max-width: 900px) {
    .x1cvmir6, .x12nzpgo.x12nzpgo {
        width: 280px !important;
    }
}
.xzd29fr.xzd29fr {
    display: flex !important;
}
.x1lliihq.xqtp20y.x6ikm8r.x10wlt62.xnalus7 {
    width: auto !important;
    height: auto !important;
}
/* compact theme end */