[Desktop Entry]
Categories=Network
Comment=Facebook Messenger webapp electron wrapper with enhancements.
Exec='messenger-enhanced' %U
Icon=[REPO LOCATION]/messenger-enhanced/images/io.github.messenger-enhanced.svg
Name=Messenger Enhanced
Name[en_US]=Messenger Enhanced
Path=[REPO LOCATION]/messenger-enhanced/out/messenger-enhanced-linux-x64
Terminal=false
Type=Application
StartupNotify=true
StartupWMClass=Messenger Enhanced
Version=1.0
NoDisplay=false
